
@{
    ViewBag.Title = "_test";
}

<h2>_test</h2>


@using (Html.BeginForm("UpdatePersonalSettings", "UserManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @*@Html.AntiForgeryToken()*@
    <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Nickname, new { @class = width_label + " control-label" })
            <div class="@width_input">
                @Html.TextBoxFor(m => m.Nickname, new { @class = "form-control", autocomplete = autoCompleteEnabled })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = width_label + " control-label" })
            <div class="@width_input">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", autocomplete = autoCompleteEnabled })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = width_label + " control-label" })
            <div class="@width_input">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = autoCompleteEnabled })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = width_label + " control-label" })
            <div class="@width_input">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", autocomplete = autoCompleteEnabled })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Details, new { @class = width_label + " control-label" })
            <div class="@width_input">
                @Html.TextBoxFor(m => m.Details, new { @class = "form-control", autocomplete = autoCompleteEnabled })
            </div>
        </div>

        @*<div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="button" class="btn btn-primary fill-width" onclick="location.href='@Url.Action("ChangePassword", "UserManagement")'" value="Change Password" />
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <div class="row">

                    <div class="col-md-4">
                        <input type="submit" class="btn btn-success fill-width" value="Save changes" />
                    </div>

                    <div class="col-md-4">
                        <input type="button" class="btn btn-primary fill-width" onclick="location.href='@Url.Action("ChangePassword", "UserManagement")'" value="Change Password" />
                    </div>

                    <div class="col-md-3">
                        <input type="button" class="btn btn-warning fill-width" onclick="location.href='@Url.Action("LogOff", "Account")'" value="Log Off" />
                    </div>
                </div>
            </div>
        </div>
}
</div>