@model IEnumerable<Booking_Room>

@{
    ViewBag.Title = "Booking rooms ";
    
}


<input type="button" class="btn btn-success m-b-10 m-t-10" data-toggle="modal" data-target="#modal-add-room" value="Add room" />


<div class="modal fade modal-dialog-window" id="modal-add-room" tabindex="-1" role="dialog" aria-labelledby="modal-add-roomLabel" aria-hidden="true">
    <div class="modal-dialog modal-centered fixed-width-750 max-width-90" role="document">
        <div class="modal-content">
            <div class="modal-header header-green">
                <h4 class="max-width-60 dis-inline-block">Add new room</h4>
                <button type="button" class="button-close-modal float-r" data-dismiss="modal" aria-label="Close">
                    <span>X</span>
                </button>
            </div>
            @using (Html.BeginForm("AddBooking", "Booking", FormMethod.Post, null))
            {
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="row">
                                <div class="col-lg-2 col-sm-2 col-xs-2 text-center"><label> Title </label></div>
                                <div class="col-lg-10 col-sm-10 col-xs-10"><input class="modal-input" name="title" type="text" value="" /></div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <div class="row">
                                <div class="col-lg-2 col-sm-2 col-xs-2 text-center"><label> Color </label></div>
                                <div class="col-lg-10 col-sm-10 col-xs-10"><input class="modal-input" name="eventColor" type="text" value="" /></div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer m-t-0 p-t-10 p-b-10">
                    @*<button type="button" class="btn btn-secondary m-r-30" data-dismiss="modal">Close</button>*@
                    <button type="submit" class="btn btn-success btn-close-modal">Submit changes</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="limiter">
    <div class="container-responsiveTable">
        <div class="wrap-responsiveTable">
            <div class="responsiveTable">
                <table class="sortable responsiveTable text-align-center " >
                    <thead>
                        <tr class="responsiveTable-head">
                            <th class="p-l-20 width-25">Room name</th>
                            <th class="width-25">Event color</th>

                            <th class="width-20">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var room in Model)
                        {
                            <tr>
                                @using (Ajax.BeginForm("UpdateBooking", "Booking", FormMethod.Post, null))
                                {
                                    <td class="hidden">
                                        <input type="text" class="hidden" readonly name="Id" value="@room.id" />
                                    </td>
                                    <td class="">
                                        <div class="before-element">Title</div>
                                        <input type="text" class="table-input editable " readonly name="title" value="@room.title" />
                                    </td>
                                    <td class="">
                                        <div class="before-element">Event color</div>
                                        <input type="text" class="table-input editable " readonly name="eventColor" value="@room.eventColor" />
                                    </td>

                                    <td class="">
                                        <div class="before-element">Operations</div>
                                        <input type="button" class="btn btn-warning btn-action btn-action-edit" value="Edit" />
                                        <input type="submit" class="btn btn-success btn-action btn-action-save hidden" value="Save changes" />
                                        <input type="submit" class="btn btn-danger btn-action btn-action-delete m-l-5" methodUrl="@Url.Action("DeleteBooking", "Booking")" methodId="@room.id" value="Delete" />
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row row-exports">
    <div class="col-lg-4 ">
        <input type="button" class="btn btn-info m-t-10 float-l m-l-10" value="Export to CSV" onclick="location.href='@Url.Action("DownloadRoomsCSV", "Booking")'" />
        <input type="button" class="btn btn-warning m-t-10 float-l m-l-10" value="Export to Json" onclick="location.href='@Url.Action("DownloadRoomsJSON", "Booking")'" />
    </div>
</div>


<link href="~/Content/responsive-table.css" rel="stylesheet" />
<script src="~/Scripts/responsive-table.js"></script>
