@model AspNetUser

@{
    ViewBag.Title = "Personal settings";

    string modal_label_width = "col-md-2 col-sm-2 col-xs-2";
    string modal_input_width = "col-md-10 col-sm-10 col-xs-10";

    string modal_label_css = "text-align:right;";
}

<div class="form-wrapper ">

    @using (Html.BeginForm("UpdatePersonalSettings", "UserManagement", FormMethod.Post, null))
    {
        <div class="modal-content modal-centered fixed-width-650 max-width-90">
            <div class="modal-header header-green">
                <h4 class="max-width-60 dis-inline-block">User personal settings</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="@modal_label_width" style="@modal_label_css"><label> Nickname </label></div>
                    <div class="@modal_input_width"> <input class="modal-input" name="Nickname" type="text" value="@Model.Nickname" /></div>
                </div>

                <div class="row">
                    <div class="@modal_label_width" style="@modal_label_css"><label> Phone </label></div>
                    <div class="@modal_input_width"> <input class="modal-input" name="PhoneNumber" type="text" value="@Model.PhoneNumber" /></div>
                </div>

                <div class="row">
                    <div class="@modal_label_width" style="@modal_label_css"><label> Email </label></div>
                    <div class="@modal_input_width"> <input class="modal-input" name="Email" type="text" value="@Model.Email" /></div>
                </div>

                <div class="row">
                    <div class="@modal_label_width" style="@modal_label_css"><label> Address </label></div>
                    <div class="@modal_input_width"> <input class="modal-input" name="Address" type="text" value="@Model.Address" /></div>
                </div>

                <div class="row">
                    <div class="@modal_label_width" style="@modal_label_css"><label> Details </label></div>
                    <div class="@modal_input_width"> <input class="modal-input" name="Details" type="text" value="@Model.Details" /></div>
                </div>


            </div>

            <div class="modal-footer m-t-0 p-t-10 p-b-10 ">

                <div class="col-md-3 col-xs-12">
                    <input type="button" class="btn btn-warning fill-width" onclick="location.href='@Url.Action("LogOff", "Account")'" value="Log Off" />
                </div>

                <div class="col-md-4 col-md-offset-1 col-xs-12">
                    <input type="button" class="btn btn-primary fill-width" onclick="location.href='@Url.Action("ChangePassword", "UserManagement")'" value="Change Password" />
                </div>

                <div class="col-md-3 col-md-offset-1 col-xs-12">
                    <button type="submit" class="btn btn-success fill-width btn-close-modal">Save changes</button>
                </div>
            </div>

        </div>
    }
</div>


<link href="~/Content/responsive-table.css" rel="stylesheet" />